<h1>New Advertisement</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for advertisements</p>
    <ul>
      <li>Guideline #1</li>
      <li>Guideline #2</li>
      <li>Guideline #3</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= form_for @advertisement do |a| %>
      <div class="form-group">

        <%= a.label :title %>

        <%= a.text_field :title, class: 'form-control', placeholder: "Enter Advertisement Title" %>
      </div>
      <div class="form-group">
        <%= a.label :copy %>
        <%= a.text_area :copy, rows: 8, class: 'form-control', placeholder: "Enter Advertisement Copy" %>
      </div>
      <div class="form-group">

        <%= a.submit "Save", class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
